body {
    width: min(90%,750px);
    margin-left: auto;
    margin-right: auto;

}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
video {
    width: min(90%,750px);
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
